

@{
    ViewBag.Title = "Administrator";
}

<h2>Administrator</h2>
<h6>You are currently logged in as Administrator</h6>

<p>
    @Html.ActionLink("Genre", "Index", "Genres", null, new { @class = "btn btn-primary btn-large btn-admin" })

    
</p>
  
<p>
    @Html.ActionLink("Movies", "Index", "Movies", null, new { @class = "btn btn-primary btn-large btn-admin" })
</p>


<p>
    @Html.ActionLink("Customers", "Index", "Customers", null, new { @class = "btn btn-primary btn-large btn-admin" })
   
</p>

<p>
@Html.ActionLink("Checked Out Movies", "IndexCheckedOut", "Movies", null, new { @class = "btn btn-primary btn-large btn-admin" })

</p>

<p>
@Html.ActionLink("Over Due Movies", "IndexContact", "RentalRecords", null, new { @class = "btn btn-primary btn-large btn-admin" })

</p>



